<%- include('partials/header'); %>

<h1>About</h1>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur unde
  fugit dolore a id eius pariatur, iusto qui dolores magnam laudantium
  praesentium voluptatum in debitis aliquid aperiam rerum inventore
  reprehenderit.
</p>

<%- include('partials/footer'); %>
